@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the dark background to the whole page body */
body {
  background-color: #0A0A0A; /* Use the primaryDark color defined in config */
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-horizontal-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 25s linear infinite;
}

.animate-scroll-horizontal-reverse {
  animation: scroll-horizontal-reverse 25s linear infinite;
}

.animate-scroll-horizontal-row1 {
  animation: scroll-horizontal 20s linear infinite;
}

.animate-scroll-horizontal-row2 {
  animation: scroll-horizontal 30s linear infinite;
}

.animate-scroll-horizontal-row3 {
  animation: scroll-horizontal 25s linear infinite;
}

.animate-scroll-horizontal:hover,
.animate-scroll-horizontal-reverse:hover,
.animate-scroll-horizontal-row1:hover,
.animate-scroll-horizontal-row2:hover,
.animate-scroll-horizontal-row3:hover {
  animation-play-state: paused;
}

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}